body{
    margin:0;
    background:darkgray;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

#verticalButtons{
    display:flex;
    flex-direction:column;
}

button{
    display: inline-block;
    background: #f8f7f6;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: backround 0.5s ease;
    border: none;
    text-shadow: 1px 1px black;
    margin: 5px;
}
button:hover{
    background:blue;
}

#networkCanvas{
    background:black;
}
#miniMapCanvas{
    background:black;
    border-radius: 50%;
}
#carCanvas{
    background:#2a5;
}

.miniMap{
    position: absolute;
    right: 20px;
    bottom: 20px; 
    opacity: 70%;
}