body {
    background: #000;
    text-align: center;
}

::selection{
    background-color: #dd2c2c;
}

h1 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    background-color: #2a5;
}